$color-primary: #9356DC;
$color-secondary: #ff79dA;
$color-tertiary: #99E2D0;
$color-card: #FFFF;
$color-text: #f2f2f2;
$font-titres: 'Shrikhand', cursive;
$font-titres1: 'Shrikhand';
$font-text: 'Roboto', sans-serif;
$taille-lettre: 0.3em, 0.8em, 1.1em, 1.5em; 
$padding-dimensions: 3px, 10px, 18px, 20px;
$margin-dimensions: 5px, 15px, 25px, 40px;

@media all and (max-width: 767px) {
    .bloc_page {
        width: 100%;
    }   
    header {
        width: 100%;
        display: flex;
        flex-direction: column;         
    
     >div {
         display: flex;
         justify-content: center;
           
         form {
                display: flex;
                flex-direction: row;  
                justify-content: center;
                margin: nth($margin-dimensions,3);   
           
             input {
                border: none;
                font-weight: bolder;
                font-size: nth($taille-lettre,2);
                }
            }
        }
    }

    #information{
        display: flex;
        flex-direction: column;
        align-items: center;
      h1 { //Reservez le menu...
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: nth($taille-lettre,4);
            font-family: $font-text;  
            margin-bottom: 0;
        
         +p { //Découvrez des restaurants...
               
                display: flex;  
                justify-content: center;  
                text-align: center;  
                font-size: nth($taille-lettre,3);
                font-family: $font-text;                     
        
             +a { //bouton
                   background: linear-gradient(#ff79dA, #9356DC);
                   display: flex;  
                   justify-content: center;
                   align-items: center;
                   text-decoration: none;                       
                   color: $color-text;
                   border-radius: 30px;
                   width: 60%;
                   height: 50px;
                   padding: nth($padding-dimensions,1);
                   
                   &:hover { //au survol                    
                       background: lighten($color-secondary,0.5);                     
                       border-radius: 25px; 
                       box-shadow: inset 5px aqua    
                                       
                   }                   
                  
                }           
                
            }
        }    
    }
    #list { //fonctionnement
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 { //titre
            margin: nth($margin-dimensions,2);  

            +ul {
                list-style-type: none;
                padding-left: nth($padding-dimensions,2);
                
                li {
                    display: flex;
                    flex-direction: row;  
                    margin-bottom: nth($margin-dimensions,3);

                    >div { //carte coleur
                        background-color:rgb(183, 195, 195);
                        border-radius: 15%;
                        width: 60%;
                        margin-left: -15px;
                        box-sizing: content-box;
                        
                    }
                                       
                    i {//icones
                        color: gray;
                        margin: 5px 15px; 
                        width: 5%;
                        
                      
                                             
                    }     
                    span {//text
                        background-color: orange;                      
                        
                    }      

                        p {//nombres de la liste
                            background-color: $color-primary;
                            border-radius: 50%;
                            width: 4%;
                            text-align: center;
                            color: $color-text;
                            margin: nth($margin-dimensions,1);   
                            padding: nth($padding-dimensions,1);                           
                            
                                                  
                        }
                    }
               
                } 
             
             }
            
        }
    }
    
   //Restaurants//

  #restaurants {
       padding-left: 15px;
   }
    .restaurants_list {
       text-decoration: none;
    }
    .cartes_restaurants {
        background-color:$color-card;
        object-fit: contain;
        width: 95%;
    }
    .cartes_restaurants a {//lien
        text-decoration: none;
        position: relative;
    }
    .cartes_restaurants span {
        background-color: aqua;
        position: absolute;
        right: 5%;
        color: green;
        margin-top: 20px;
        height: 30px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: nth($font-text,1);
        padding: 0 10px;
       
    }
    .cartes_restaurants img {
        width: 100%;
        object-fit: cover;
        height: 50vw;
        object-fit: cover;        
        border-radius: 8px 8px 0 0;
        
        +div {//legende
            background-color: white;
            h4 {//Nom du resto
                color: black;
                font-size: nth($taille-lettre,4);
                margin-bottom: 15px;
                margin-top: 15px;
                +p {//text
                    font-size: nth($taille-lettre,3);
                    font-family: $font-text;
                    color: black;
                    line-height: 1em;
                                        
                   +i {//coeur
                        color:#595b5e;                        
                        position: absolute;
                        right: 45px;
                        top: 40px;
                        font-size: 2em;
                       
                    }
                }
                
            }

        }
     }
     
  .footer {
        background-color:#212020;
        height: 130px;
        
      h2 { //titre
            color:$color-text;
            font-family: $font-titres;
            font-size: nth($taille-lettre,3);
            padding: nth($padding-dimensions,2);
            margin-bottom: 0;
                  
           +div { //.info__footer
                padding-left: nth($padding-dimensions,1);
             ul {
                    list-style-type: none;
                    padding-left: nth($padding-dimensions,2);
                    margin: 0;

                    li {               
                        a { //lien
                            color: $color-text;
                            text-decoration: none;
                            font-family: $font-text;
                            padding-top: nth($padding-dimensions,3);
                            font-size: nth($taille-lettre,2); 
                            
                            i { //icones
                                margin-right: 15px;
                                width: 10px;
                           
                            
                        }
                        
                    }
                }
            }           
           
        }
    }  
} 
   
    





   