@media all and (max-width: 767px) {
  .bloc_page {
    width: 98%;
    background-color: #f2f2f2;
  }

  .loader {
    width: 90vw;
    height: 100vh;
    position: relative;
  }

  .loader__animation {
    border-top: 10px solid #ff79da;
    border-bottom: 10px solid #99e2d0;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #faeb9f;
    border-radius: 50%;
    width: 10vh;
    height: 10vw;
    -webkit-animation: spin 3s ease 1s both;
    -o-animation: spin 3s ease 1s both;
    animation: spin 3s ease 1s both;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
      height: 0;
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
      opacity: 0;
      height: 0;
    }
  }
  header {
    width: 100%;
  }
  header a {
    position: absolute;
    left: 23px;
    top: 95px;
    color: black;
  }
  header > div {
    background-color: #e6e6e6;
    box-shadow: 5px 5px 3px #dddada;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    box-shadow: none;
    margin-left: 25px;
  }
  header #ubication {
    display: flex;
    justify-content: center;
  }
  header #ubication form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
  }
  header #ubication form input {
    border: none;
    font-weight: bolder;
    font-size: 0.8em;
  }

  #information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #information h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
  }
  #information h1 + p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
  }
  #information h1 + p + a {
    background: linear-gradient(#ff79dA, #9356DC);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    border-radius: 30px;
    width: 45%;
    padding: 18px;
  }
  #information h1 + p + a:hover {
    background: #ff7cdb;
    border-radius: 25px;
    box-shadow: 5px 5px 3px #9356DC;
  }

  #list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #list h2 {
    margin: 15px;
  }
  #list h2 + ul {
    list-style-type: none;
    padding-left: 10px;
  }
  #list h2 + ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  #list h2 + ul li > div {
    background-color: #eeeeee;
    box-shadow: 5px 5px 3px #dddada;
    border-radius: 15px;
    width: 60%;
    margin-left: 5px;
    box-sizing: content-box;
    padding-top: 15px;
    padding-left: 10px;
    margin-left: 10px;
    height: 50px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  #list h2 + ul li i {
    margin: 5px 15px;
    padding: 0px 15px;
    width: 5%;
    color: #878788;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  #list h2 + ul li i:hover {
    color: #9356DC;
  }
  #list h2 + ul li p {
    background-color: #9356DC;
    border-radius: 50%;
    width: 4%;
    text-align: center;
    color: #f2f2f2;
    margin-top: 20px;
    margin-left: 10px;
    padding: 3px;
    position: absolute;
  }
}
#restaurants {
  padding-left: 15px;
}

.restaurants_list {
  text-decoration: none;
}

.cartes_restaurants {
  background-color: #FFFF;
  object-fit: contain;
  width: 90%;
}

.cartes_restaurants a {
  text-decoration: none;
  position: relative;
}

.cartes_restaurants span {
  background-color: aqua;
  position: absolute;
  right: 10px;
  color: green;
  margin-top: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: "Roboto";
  padding: 0px 10px;
}

.cartes_restaurants img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  border-radius: 8px 8px 0 0;
}
.cartes_restaurants img + div {
  background-color: white;
}
.cartes_restaurants img + div h4 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 15px;
}
.cartes_restaurants img + div h4 + p {
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1em;
}

.btn_like_icone {
  color: gray;
  font-size: 1.5em;
  position: relative;
  right: -48px;
  bottom: 52px;
  z-index: 2;
}

.btn_like--rempli {
  color: fuchsia;
  font-size: 1.5em;
  position: absolute;
  right: 39px;
  top: 59px;
  right: 50px;
  z-index: 1;
}

#btn_comander {
  background: linear-gradient(#ff79dA, #9356DC);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 30px;
  width: 45%;
  padding: 18px;
}
#btn_comander:hover {
  background: #ff7cdb;
  border-radius: 25px;
  box-shadow: 5px 5px 3px #9356DC;
}

.footer {
  background-color: #212020;
  height: 130px;
}
.footer h2 {
  color: #f2f2f2;
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  padding: 10px;
  margin-bottom: 0;
}
.footer h2 + div {
  padding-left: 3px;
}
.footer h2 + div ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}
.footer h2 + div ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding-top: 18px;
  font-size: 0.8em;
}
.footer h2 + div ul li a i {
  margin-right: 15px;
  width: 10px;
}

/*# sourceMappingURL=style.css.map */
