
// header + fléche
.header_fleche {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;   
    padding: 0; 
    a {        
        text-decoration: none;
        color: black;
        font-family: $font-titres; 
        font-size: nth($taille-lettre,3);
        padding: nth($padding-dimensions,3);
        }

    i {      
        position: absolute;
        left: 30px;
        font-size: nth($taille-lettre,4);      
    }   
}
// legende de la photo
.carte_restaurant {
    background-color: $color-card;
    object-fit: contain;
    width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: auto;
    // height: 70%;     
    position: relative; 
    display: flex;
    flex-direction: column;   
    & img {
         width: 100%;
         object-fit: cover;
         height: 40vh;         
        // border-radius: 8px 8px 0 0;
        //  overflow: hidden;
    }
    &_name {  //titre de la photo
       background-color:$color-card;           
       width: 100%;
       display: flex;
       flex-direction: row;              
        //align-items: flex-end;
       align-items: center;
       position: absolute;
       height: 45px;
       top: 90%;
    // bottom: 25px;
       border-radius: 25px 25px 0px 0px;
      
        & h4 { 
           font-size: 1.4rem;
           font-family: $font-titres;
           padding-right: 5px;
           padding-top: 10px;
        //    width: 50%;
        //    margin-top: 7px;  
    }   }
   
}
.btn_like_heart {
    background-color: aqua;    
}
// Description de la carte du restaurant
.menu__description {   // Entrée, plats et desserts
    background-color: rgb(145, 121, 168);
    margin-top: 60px;
    position: relative; //animation
    overflow: hidden; //animation
    padding-left: 5px;
}
.menu__description__entree h3 {       
    @include title;       
}

.menu__description__entree1 { //carte-entrée
    @include menu_carte; 
    // position: absolute;//animation
    // right: 600px;      //animation 
    // animation: menu__description__entree1 0.5s forwards; //animation
    // animation-delay: 2s;//animation
    // &--name {
    //     background: rgb(190, 82, 82);   
}
.menu_description_prix {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // background-color: aqua;
    color: white;
    font-size: 1.2em;
    position: relative;
    margin-left: 3%;
    // text-overflow: ellipsis;
    p{
      color: black;
       font-weight: bold;
        // display: none
        // position: absolute
        margin-right: 2%;        
       
    }
    .menu_description_prix_check {
        background-color: rgb(100, 231, 231);
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-left: 1%;
        display: flex;
      
        i{
            // background-color: red;
            display: flex;
            align-items: center;
            height: 100%;
            width: 70px;
            justify-content: center;
            font-size: nth($taille-lettre,4);
            opacity: 1;
            overflow: hidden;
            transform: rotate(0deg);
            transition: transform 500ms ease-in-out
        }
    }
  
}
.menu__description__plats h3 {   
    @include title;    
}
 .menu__description__plats1 {
 @include menu_carte;
 }

 .menu__description__desserts h3 {  
    @include title;
}

 .menu__description__desserts1 {
    @include menu_carte; 
    
 }


 //bouton commander
  #bouton_comamnder {   
    a {  @include btn_a;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 60px;
    }
}//animations

@-webkit-keyframes menu__description__entree1 {
    100% { right: 0; }
}

@keyframes menu__description__entree1 {
    100% { right: 0; }
}



