$color-primary: #9356DC;
$color-secondary: #ff79dA;
$color-tertiary: #99E2D0;
$color-card: #FFFF;
$color-text: #f2f2f2;
$font-titres: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
$taille-lettre: 0.3em, 0.8em, 1em, 1.3em; 
$padding-dimensions: 3px, 10px, 18px, 20px;
$margin-dimensions: 5px, 15px, 25px, 40px;